/*input[type=submit]*/

@mixin bg($src)
  background: url("../img/#{$src}") no-repeat 0 0

@import _fonts

$nr: no-repeat
$rb: right bottom
$rt: right top
$rc: right center
$cc: center center
$lc: left center
$lb: left bottom
$tc: top center

body
  font-family: ProximaNova 

*  
  box-sizing: border-box

.wrapper  
  @include bg('bg.jpg')
  background-color: #f4eeee
  min-height: 100% 
  background-position: $tc 
  background-repeat: repeat-x
  height: 1500px

.main
  width: 940px
  margin: auto

.header
  padding-top: 27px

.logo
  margin-right: 44px

.logo, .adress
  float: left

.adress
  width: 315px
  color: rgb(51, 51, 51)
  font-family: ProximaNovaL
  font-size: 20px
  line-height: 1
  padding-left: 43px
  @include bg('adress-icon.png')
  background-position: $lc 
  margin-top: 16px

.phone
  float: right
  width: 160px
  color: rgb(47, 47, 43)
  font-family: ProximaNova
  font-size: 18px
  line-height: 1
  padding-left: 30px
  margin-top: 15px
  text-align: right
  @include bg('phone-icon.png')  
  background-position: left 6px top 7px
  a
    color: white
    font-family: ProximaNova
    font-size: 12px
    display: block
    width: 125px
    height: 16px
    background-color: rgb(162, 154, 117)
    text-align: center
    text-decoration: none
    line-height: 1.25
    margin-top: 5px
    float: right