/*input[type=submit]*/

@mixin bg($src)
  background: url("../img/#{$src}") no-repeat 0 0

@import _fonts

$nr: no-repeat
$rb: right bottom
$rt: right top
$rc: right center
$cc: center center
$lc: left center
$lb: left bottom
$tc: top center

.wrapper  
  @include bg('bg.jpg')
  background-color: #f4eeee
  min-height: 100% 
  background-position: $tc 
  background-repeat: repeat-x
  height: 1500px

.main
  width: 940px
  margin: auto

.header
  padding-top: 27px

.logo
  margin-right: 50px

.logo, .adress
  float: left

.adress
  width: 315px

.phone
  float: right
  width: 160px